.background {
  height: 500px;
  width: 50%;
  margin-left: 16px;
  background-repeat: no-repeat;
  background-size: contain;
}
.weather-dashboard {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.weather-header {
  align-self: center;
  color: white;
  font-size: 24px;
}
.weather-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding-top: 20px;
  font-size: 24px;
  & #temperature {
    font-size: 36px;
  }
}

.caption {
  text-align: center;
  padding-top: 10px;
  font-size: 12px;
}
.weather-icon {
  font-size: 100px;
  color: white;
  border-radius: 10px;
}

.weather-forecast {
  color: white;
  font-size: 24px;
}

.weather-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.summary-text {
  font-size: 24px;
  border-radius: 5px;
  border: 1px solid black;
  pointer-events: none;
}
