.search-bar {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-self: center;
  & ::ng-deep .mat-form-field-flex {
    border-radius: 5px;
    border: solid 1px black;
    background-color: white;
  }
}
