.weather-dashboard {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px 100px;
}

.weather-header {
  position: relative;
  bottom: 80px;
  color: white;
  font-size: 48px;
}
.weather-subheader {
  position: relative;
  bottom: 60px;
  color: white;
  padding-top: 20px;
  font-size: 64px;
}
.weather-icon {
  position: relative;
  bottom: 60px;
  font-size: 100px;
  color: white;
  border-radius: 10px;
}

.search-bar {
  position: relative;
  bottom: 80px;
  display: flex;
  justify-content: center;
  align-self: center;
  & ::ng-deep .mat-form-field-flex {
    border-radius: 5px;
    background-color: white;
  }
}

.weather-forecast {
  position: relative;
  bottom: 40px;
  color: white;
  font-size: 24px;
}

.weather-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.summary-text {
  font-size: 24px;
  border-radius: 5px;
  border: 1px solid black;
  pointer-events: none;
}
