<mat-card
  class="weather-dashboard"
  [ngStyle]="{
    'background-image': 'url(' + getBackground(currentWeather?.icon) + ')'
  }"
>
  <mat-card-header>
    <mat-card-title class="weather-header">Current Weather</mat-card-title>
    <mat-card-subtitle class="weather-subheader">
      {{ currentWeather?.temperature | number: "1.0-0"
      }}<i class="wi wi-fahrenheit"></i
    ></mat-card-subtitle>
  </mat-card-header>

  <i
    *ngIf="currentWeather"
    class="weather-icon"
    [ngClass]="getIcon(currentWeather?.icon)"
  ></i>
  <div class="weather-forecast">{{ currentWeather?.summary }}</div>

  <mat-card-content class="weather-summary">
    {{ currentWeather?.precipProbability }}
    {{ currentWeather?.windSpeed }}
    {{ currentWeather?.visibility }}
  </mat-card-content>
</mat-card>
<form [formGroup]="this.searchForm">
  <mat-form-field appearance="outline" class="search-bar">
    <mat-icon matPrefix>search</mat-icon>
    <input
      matInput
      formControlName="search"
      [formControl]="this.searchForm.controls.search"
      id="search-term"
      type="text"
      placeholder="Enter city or zip"
      [matAutocomplete]="searchOptions"
      (keydown)="queryWeather()"
    />
    <mat-hint>Specify country code like Paris, US</mat-hint>
  </mat-form-field>
  <mat-autocomplete
    #searchOptions="matAutocomplete"
    (optionActivated)="queryWeather()"
  >
    <mat-option *ngFor="let location of locationOptions" [value]="location">
      {{ location }}
    </mat-option>
  </mat-autocomplete>
</form>

<div></div>
