<div class="card" *ngIf="hourly?.data">
  <div class="card-body">
    <h1 class="card-title">48-Hour Forecast</h1>
    <h2 class="card-subtitle">Summary:</h2>
    <p>{{ hourly?.summary }}</p>
  </div>
  <div class="container">
    <div
      class="forecast text-center"
      *ngFor="let forecast of hourly?.data; let i = index"
      [ngClass]="{ border: i === 0 }"
    >
      <div class="header">
        {{ forecast?.time * 1000 | date: "shortTime" }}
      </div>
      <i id="icon" class="{{ getIcon(forecast?.icon) }}"></i>
      <div class="content">{{ forecast?.summary }}</div>
      <div class="content">
        {{ forecast?.temperature | number: "1.0-0"
        }}<i id="degree" class="wi wi-fahrenheit"></i>
      </div>
    </div>
  </div>
</div>
